# HNN-core build
dpl.txt
hnn_core/mod/x86_64/
hnn_core/mod/arm64/

# Distribution / packaging
.Python
dist/
*.egg*
build
coverage
*.xml

# Virtual environments
.venv
env/
venv/
ENV/
VENV/

# Sphinx documentation
doc/_build/**
pip-log.txt
.coverage
tags
cover

# Pycharm
.idea/

*.pyc

.cache
.pytest_cache
.ipynb_checkpoints
.DS_Store
.vscode/

__pycache__

*.log
