# HNN-core build
hnn_core/mod/x86_64/
hnn_core/mod/arm64/

# Distribution / packaging
.Python
dist/
*.egg*
build
coverage
*.xml

# Virtual environments
.venv
env/
venv/
ENV/
VENV/
uv.lock

# Sphinx documentation
doc/_build/**
pip-log.txt
.coverage
tags
cover

# IDE programs
.cursor/
.idea/
.vscode/

# AI and LLMs
.claude/
.codex/
AGENTS.md
CLAUDE.md
GEMINI.md

# Downloaded or created during testing
.pytest_cache
dpl.txt
dpl2.txt
saved_network.json
survey_seen.json
yes_trial_S1_ERP_all_avg.txt
hnn_core/param/base.json
hnn_core/param/default.param
hnn_core/param/empty.json
hnn_core/param/ERPYes100Trials.json
hnn_core/param/ERPYes100Trials.param


# Caches, compilations, and other
*.pyc
__pycache__
.cache

.ipynb_checkpoints

*.log

.DS_Store
