include *.rst
include hnn_core/__init__.py 

recursive-include examples *.py
recursive-include examples *.txt

recursive-include hnn_core/mod *

recursive-include hnn_core *.py
recursive-include hnn_core *.ipynb

### Exclude

exclude Makefile pytest.ini .circleci
exclude CONTRIBUTING.rst
recursive-exclude hnn_core *.pyc
recursive-exclude doc *
