include *.rst
include hnn_core/__init__.py 

recursive-include examples *.py
recursive-include examples *.txt

recursive-include hnn_core/mod *
recursive-include hnn_core/mod/x86_64 *
recursive-include hnn_core/mod/x86_64/.libs *

recursive-include hnn_core *.py

### Exclude

exclude Makefile pytest.ini .circleci
exclude CONTRIBUTING.rst
recursive-exclude hnn_core *.pyc
recursive-exclude doc *
