name: Python package

on:
  push:
    branches: ['**']
  pull_request:
    branches: ['**']
  create:
    branches: [main]
    tags: ['**']
  schedule:
    - cron: "0 4 * * *"

jobs:
  build:

    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: true
      matrix:
        os: [ubuntu-latest, macos-latest]
        python-version: [3.7, 3.8]

    steps:
      - uses: actions/checkout@v2
      - uses: conda-incubator/setup-miniconda@v2
        with:
          activate-environment: test
          python-version: ${{ matrix.python-version }}
      - name: Install ubuntu dependencies
        shell: bash -el {0}
        run: |
          if [ "${{ matrix.os }}" == "ubuntu-latest" ]; then
            sudo add-apt-repository ppa:ubuntu-toolchain-r/test
            sudo apt-get update
            sudo apt-get install libopenmpi-dev openmpi-bin
          fi;
      - name: Install dependencies
        shell: bash -el {0}
        run: |
          python -m pip install --upgrade pip
          pip install flake8 pytest pytest-cov
          pip install mne psutil joblib
          pip install NEURON
          if [ "${{ matrix.os }}" == "ubuntu-latest" ]; then
            pip install mpi4py
          else
            conda install --yes mpi4py openmpi
          fi
      - name: Install HNN-core
        shell: bash -el {0}
        run: |
          echo $PWD
          which nrnivmodl
          yourfilenames=`ls`
          for eachfile in $yourfilenames
          do
            echo $eachfile
          done
          python setup.py --verbose install
      - name: Lint with flake8
        shell: bash -el {0}
        run: |
          flake8 --count hnn_core
      - name: Test with pytest
        shell: bash -el {0}
        run: |
          python -m py.test .  --cov=hnn_core hnn_core/tests/ --cov-report=xml
      - name: Upload code coverage
        shell: bash -el {0}
        run: |
          bash <(curl -s https://codecov.io/bash) -f ./coverage.xml
